<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677196067286-5ino8fqrdqhma6oni2hh6d8l4ruq7gc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677196067286-5ino8fqrdqhma6oni2hh6d8l4ruq7gc8</string>
	<key>API_KEY</key>
	<string>AIzaSyAf4kUf9vvc4kY9vqas9zB06wpqbRTlMvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>677196067286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mehmetcanmovies.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mehmetcanmovies</string>
	<key>STORAGE_BUCKET</key>
	<string>mehmetcanmovies.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677196067286:ios:cca04494480a4c9f247477</string>
</dict>
</plist>